[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl
[submodule "submodules/fakeOwl"]
	path = submodules/fakeOwl
	url = https://github.com/szellmann/fakeOwl
[submodule "submodules/umesh"]
	path = submodules/umesh
	url = https://gitlab.com/ingowald/umesh
